
@{
    ViewBag.Title = "ADMIN PANEL";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<p>Homepage</p>

<div>

<h4> Tổng số bài viết: </h4>
<p id="totalnow" style="color: black;"></p>

<figure class="highcharts-figure">
    <div id="containernew"></div>
    <p class="highcharts-description">

    </p>
</figure>

<h4> Tổng số bài viết:</h4>
<p id="total" style="color: black;"></p>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">

    </p>
</figure>
</div>





